# Python cache
__pycache__/
*.pyc

# Environment & config secrets
.env

# Virtual environment
venv/

# Testing cache
.pytest_cache/

# Runtime data
dataset/

# Trained models
model/*.pkl

# Mac system files
.DS_Store
